body {
        font-family: tahoma, helvetica, arial, sans-serif;
        font-size: 13px;
        text-align: center;
        background: url(../images/page_bg.gif);
    }
    
html, body, #wrapper, h1 {
	margin: 0;
	padding: 0;
}



.grdCart
{
    position:relative;
    font-size: 12px;
    text-align:center;
    width:700px;
    margin-top:30px;
    margin-left:40px;
}
.grd
{
    position:relative;
    font-size: 12px;
    text-align:center;
    width:700px;
    margin-top:30px;
    margin-left:10px;
    top: -1px;
    left: 0px;
}


/*
style form
*/
.formLayout
{
    margin:10px auto;  
    width:550px;
}
.label
{
    display: inline-block;
    width: 100px;
    font-size:14px;
    padding-left:40px;
}


.inputs { 
height:25px; 
border: 3px solid #EBE6E2; 
border-radius: 5px; 
-webkit-transition: all 0.3s ease-out; 
-moz-transition: all 0.3s ease-out; 
-ms-transition: all 0.3s ease-out; 
-o-transition: all 0.3s ease-out; 
transition: all 0.3s ease-out; 
width:200px; 
} 
.inputs:focus { 
border-color: #BBB; 
outline: none; 
} 

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background-color:#c80000;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}.button:hover {
	background-color:#c62d1f;
}.button:active {
	position:relative;
	top:1px;
}

 #List{

 }

img { border: 0; }

#wrapper {
	margin: auto;
	text-align: left;
	width: 1000px;
	position: relative;
}

h1, h2, h3 {
	font-size: 20px;
}


h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0 0 5px 0;
	padding: 0;
}

h3 {
	padding: 4px 0 0 0;
}

.block {
	display: block;
}

.clear {
	clear: both;
	height: 2px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 3px;
	font-size: 1px;
}

.left {
	float: left;
	margin: 1px 8px 0px 0px;
}


/* ***** */

#inner {
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	background: white;
	color: black;
	margin-bottom: 10px;
}

#header {
	background: url(../images/header_bg.gif) repeat-x;
	padding-top: 9px;
	position: relative;
}

#header img {
	display: block;
}

#nav {
	position: absolute;
	left: 590px;
	top: 40px;
	width: 400px;
	text-align:right;
}

#nav, #nav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#nav a:hover {
	text-decoration: underline;
}

#browse {
	float: left;
	width: 195px;
	margin: 0;
	padding: 0;
	background: white;
	border-bottom: 2px solid white;
	text-align:center;
	font-size:13px;
}

#browse dt {
	background: #c80000 url(../images/dt_bg.gif) bottom repeat-x;
	color: #fff;
	margin: 2px 2px 1px 2px;
	padding: 6px 0;
	text-align: center;
	font-weight: bold;
}

#browse dd {
	background: #227293;
	border-bottom: 1px solid #659db4;
	padding: 0;
	margin: 0 2px;
}

#browse dd a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 3px 22px;
}

* html #browse dd {
	padding: 3px 22px;
	padd\ing: 0;
}

* html #browse dd a {
	display: inline;
	di\splay: block;
}

#browse dd a:hover {
	background: #74a7b7;
}

#browse .first {
	padding-top: 10px;
}

#browse .last {
	padding-bottom: 8px;
	border-bottom: 1px solid white;
}


#body {
	float: left;
	width: 790px;
	margin: 3px 3px 3px 3px;
	border: 1px solid #e5e5e5;
	position: relative;
}

#body p {
	margin: 1em 0;
	padding: 0;
}


* html #body .rightbox {
	margin-right: 10px;
}

#body .br {
	border-bottom: 1px solid #e5e5e5;
}

#body h3 {
	text-align: center;
	font-family: "Keble Condensed", "KebleCondensed", "arial narrow", helvetica, arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #5d5d5d;
	padding: 0 0 0 18px;
	margin: 1px 0 3px 0;
}

#footer {
	background: #c80000 url(../images/footer_bg.gif) repeat-x;
	padding: 8px 8px 5px 8px;
	position: relative;
	text-align: center;
	border-bottom: 2px solid white;
}
	
#footer, #footer a {
	font-weight: bold;
	color: white;
	text-decoration: none;
}

#footnav {
	position: absolute;
	text-align: right;
	right: 10px;
	top: 0px;
	padding: 8px 0 5px 0;
}